<?xml version="1.0" encoding="{$charset}"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
  <head>
    <title>SELFHTML Forum: Benutzer-Einstellungen</title>
    <meta http-equiv="content-type" content="text/html; charset={$charset}" />
    <meta http-equiv="expires" content="now" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta name="robots" content="noindex,noarchive,nofollow" />
    <meta name="author" content="Stefan M&uuml;nz, stefan.muenz@selfhtml.org" />
    <meta name="DC.Publisher" content="SELFHTML Forum" />
    <!--meta name="DC.Date" content="" /-->
    <meta name="DC.Identifier" content="{$script}" />
    <meta name="DC.Language" content="de" />
    <meta name="DC.Rights" content="" />
    <meta name="SELF.Pagetype" content="chapter" />{if $owncss}{if $cssoverwrite}
    <link rel="stylesheet" title="SELFHTML Forum Stylesheet" type="text/css" href="http://src.selfhtml.org/forum_strict.css" />{endif}
    <link rel="stylesheet" title="Benutzerdefiniertes Stylesheet" type="text/css" href="{$owncss}" />{else}
    <link rel="stylesheet" title="SELFHTML Forum Stylesheet" type="text/css" href="http://src.selfhtml.org/forum_strict.css" />{endif}
    <link rel="shortcut icon" title="SELFHTML Icon" type="image/x-icon" href="http://src.selfhtml.org/favicon.ico" />
    <link rel="top" title="SELFHTML Forum" href="{$forumbase}" />
    <link rel="help" title="Forums-FAQ" href="/faq/" />
    <link rel="search" title="SELFHTML Suche" href="http://selfsuche.teamone.de/" />
  </head>
  <body id="selfforumbody">
    <div class="nav"><a class="an" name="top"><img src="http://src.selfhtml.org/refkap.gif" width="16" height="13" alt="Teil von" /></a>&nbsp;<a href="{$forumbase}">SELFHTML Forum</a></div>
    <table class="header" id="selfforumheader">
      <thead>
        <tr>
          <td class="hdrelse" style="width:110px;"><img src="http://src.selfhtml.org/logo.gif" width="106" height="109" alt="SELFHTML" /></td>
          <td class="hdrelse"><h1 class="ph1">SELFHTML Forum:<br />Benutzer-Einstellungen</h1></td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="info"><img src="http://src.selfhtml.org/kapx.gif" width="30" height="26" alt="Kapitelseite" /></td>
          <td class="hdrtxt">
            <p>
              <img src="http://src.selfhtml.org/down.gif" width="14" height="10" alt="nach unten" />&nbsp;<a href="#verhalten"><b>Forums-Verhalten</b></a><br />
              <img src="http://src.selfhtml.org/down.gif" width="14" height="10" alt="nach unten" />&nbsp;<a href="#filter"><b>Filter</b></a><br />
              <img src="http://src.selfhtml.org/down.gif" width="14" height="10" alt="nach unten" />&nbsp;<a href="#formular"><b>Formular</b></a>
            </p>
            <p>
              <img src="http://src.selfhtml.org/dok.gif" width="14" height="10" alt="Seite" />&nbsp;<a href="{$script}?a=edit"><b>Einstellungen bearbeiten</b></a><br />
              <img src="http://src.selfhtml.org/dok.gif" width="14" height="10" alt="Seite" />&nbsp;<a href="{$script}?a=changepw"><b>Passwort &auml;ndern</b></a><br />
              <img src="http://src.selfhtml.org/dok.gif" width="14" height="10" alt="Seite" />&nbsp;<a href="{$script}?a=unreg"><b>Account l&ouml;schen</b></a>
            </p>
          </td>
        </tr>
        <tr>
          <td colspan="2" class="hdrquick"><a href="#bottom"><img src="http://src.selfhtml.org/down.gif" width="14" height="10" alt="nach unten" /></a>&nbsp;</td>
        </tr>
      </tbody>
    </table>
    <h2 class="sh2"><a class="an" name="verhalten">Forums-Verhalten</a></h2>
    <ul>
      <li>{if $showforumframeset == "yes"}Das Forum wird in einem <b>Frameset</b> angezeigt{else}Das Forum wird <b>nicht</b> in einem Frameset dargestellt{endif}</li>
      <li>Die Threads sollen standardm&auml;&szlig;ig <b>{if $threadsopen == "yes"}ge&ouml;ffnet{else}geschlossen{endif}</b> dargestellt werden.</li>
      <li>Das Antwortfeld {if $doquote == "yes"}<b>wird</b>{else}wird <b>nicht</b>{endif} mit dem vorhergehenden Posting vorbelegt.{if $doquote == "yes"} Die Zitat-Kennzeichnung ist &quot;{$qchars}&quot;.{endif}</li>{if $quoteforecol}
      <li>{if $quoteforecol}Die Vordergrundfarbe f&uuml;r zitierte Texte ist: <span style="color:{$quoteforecol};background-color:{if $quotebackcol}{$quotebackcol}{else}inherit{endif};">{$quoteforecol}</span>.{endif}{if $quotebackcol} Die Hintergrundfarbe f&uuml;r zitierte Texte ist: <span style="background-color:{$quotebackcol};color:{if $quoteforecol}{$quoteforecol}{else}inherit{endif};">{$quotebackcol}</span>.{endif}</li>{endif}
      <li>Der Thread-Baum in den Postings soll {if $showthread == "partitial"}<b>ab dem angezeiten Posting</b>{endif}{if $showthread == "full"}<b>vollständig</b>{endif}{if $showthread == "none"}<b>gar nicht</b>{endif} dargestellt werden.</li>
      <li>Eigene Postings {if $highlightownpost == "yes"}<b>sollen</b>{else}sollen <b>nicht</b>{endif} farblich hervorgehoben werden.{if $highlightownpost == "yes"}<br>{if $ownforepostcol}Die gewählte Vordergrundfarbe: <span style="color:{$ownforepostcol};">{$ownforepostcol}</span>.{endif}{if $ownbackpostcol} Die gewählte Hintergrundfarbe: <span style="color:{$ownbackpostcol};">{$ownbackpostcol}</span>{endif}{endif}</li>
      <li>Besuchte Postings {if $highlightvisi == "yes"}<b>sollen</b>{else}sollen <b>nicht</b>{endif} farblich hervorgehoben werden.{if $highlightvisi == "yes"}<br>{if $highlightvisiforecol}Die gewählte Vordergrundfarbe: <span style="color:{$highlightvisiforecol};">{$highlightvisiforecol}</span>.{endif}{if $highlightvisibackcol} Die gewählte Hintergrundfarbe: <span style="color:{$highlightvisibackcol};">{$highlightvisibackcol}</span>{endif}{endif}</li>{if $fontcol}
      <li>Die allgemeine Schriftfarbe f&uuml;r Texte ist: {$fontcol}</li>{endif}{if $fontsize}
      <li>Die Schriftgr&ouml;&szlig;e ist: {$fontsize}</li>{endif}{if $fontfamily}
      <li>Die Schrift-Art ist: {$fontfamily}</li>{endif}{if $autoreload}
      <li>Das Forum soll nach <b>{$autoreload}</b> Minuten automatisch neu geladen werden.</li>{endif}{if $BaseTarget}
      <li>Das Zielfenster von Links innerhalb von Postings ist: {$BaseTarget}.</li>{endif}{if $SendMailOnAnswer}
      <li>Bei Antworten auf Ihre Postings soll Ihnen eine EMail geschickt werden.</li>{endif}
    </ul>
    <div class="updown"><a href="#top"><img src="http://src.selfhtml.org/up.gif" width="14" height="10" alt="nach oben" /></a><a href="#bottom"><img src="http://src.selfhtml.org/down.gif" width="14" height="10" alt="nach unten" /></a></div>
    <h2 class="sh2"><a class="an" name="filter">Filter</a></h2>
    <ul>
      <li>&quot;Schwarze Liste&quot;: {if $blacklist}&quot;<b>{$blacklist}</b>&quot;{else}<b>Leer</b>{endif}</li>
      <li>&quot;Weisse Liste&quot;: {if $whitelst}&quot;<b>{$whitelst}</b>&quot;{else}<b>Leer</b>{endif}</li>{if $showfrom}
      <li>Postings werden ab dem <b>{$showfrom}</b> angezeigt.</li>{endif}{if $showuntil}
      <li>Postings bis zum <b>{$showuntil}</b> werden angezeigt.</li>{endif}
      <li>{if $showcat}Nur die Kategorien &quot;<b>{$showcat}</b>&quot; werden angezeigt.{else}<b>Alle</b> Kategorien werden angezeigt.{endif}</li>{if $showcat}
      <li>{if $highlightcats}Die Kategorien &quot;<b>{$highlightcats}</b>&quot; werden hervorgehoben.{if $highlightcatforecol} Die Farbe f&uuml;r die farbliche Hervorhebung ist: {if $highlightcatforecol}<span style="color:{$highlightcatforecol}">{$highlightcatforecol}</span> (Textfarbe){if $highlightcatbackcol}, {endif}{endif}{if $highlightcatbackcol}<span style="color:{$highlightcatbackcol}">{$highlightcatbackcol}</span> (Hintergrundfarbe).{endif}{endif}{else}Keine Kategorie wird hervorgehoben{endif}</li>{endif}
    </ul>
    <div class="updown"><a href="#top"><img src="http://src.selfhtml.org/up.gif" width="14" height="10" alt="nach oben" /></a><a href="#bottom"><img src="http://src.selfhtml.org/down.gif" width="14" height="10" alt="nach unten" /></a></div>
    <h2 class="sh2"><a class="an" name="formular">Formular</a></h2>
    <ul>
      <li>Ihre Begr&uuml;&szlig;ungs-Formel ist{if $hi}: <b>{$hi}</b>{else} <b>Aus</b>{endif}</li>
      <li>Ihre Abschieds-Formel ist{if $bye}: <b>{$bye}</b>{else} <b>Aus</b>{endif}</li>
      <li>Ihre Signatur ist{if $sig}: <b>{$sig}</b>{else} <b>Aus</b>{endif}</li>
      <li>Ihr Name ist: <b>{$name}</b></li>
      <li>Ihre EMail-Adresse ist{if $email}: <b>{$email}</b>{else} <b>nicht eingegeben worden</b>{endif}.</li>
      <li>Ihre Homepage-URL ist{if $hp}: <b>{$hp}</b>{else} <b>nicht eingegeben worden</b>{endif}.</li>
      <li>Ihre Bild-URL ist{if $image}: <b>{$image}</b>{else} <b>nicht eingegeben worden</b>{endif}.</li>
    </ul>
    <div class="updown" id="selfforumbottom"><a href="#top"><img src="http://src.selfhtml.org/up.gif" width="14" height="10" alt="nach oben" /></a></div>
    <div class="nav"><a class="an" name="bottom"><img src="http://src.selfhtml.org/refkap.gif" width="16" height="13" alt="Teil von" /></a>&nbsp;<a href="{$forumbase}">SELFHTML Forum</a></div>
    <p>&copy; 1998-2004 <img src="http://src.selfhtml.org/mail.gif" width="15" height="10" alt="E-Mail" />&nbsp;<a href="mailto:stefan.muenz@selfhtml.org">stefan.muenz@selfhtml.org</a></p>
  </body>
</html>
