span.q {
  color:#333333;
  display:block;
}

body {
  margin-top:10px;
  margin-bottom:10px;
  background-color:#FFFFFF;
  color:#000000;
}

/*dl,dd,dt {*/
ol li,ul li,ul,ol,li {
	margin-top:0px;
	margin-bottom:0px;
	white-space:nowrap;
        list-style-type:none;
}

p,h1,h2,h3,h4,ul,ol,li,div,td,th,address,nobr,b,i,dl,dd,dt {
	font-family:Arial,sans-serif;
	font-size:13.4px;
}

blockquote {
	font-family:Arial,sans-serif;
}

h1,h2 {
  margin-bottom:18px;
}

h1 {
	font-size:26px;
}

h2 {
	font-size:21px;
}

h3 {
	font-size:16px;
}

li {
	margin-top:3px;
}

pre {
	font-family:'Courier New',Courier,monospace;
	font-size:13.4px;
	color:#0000C0;
}

code,kbd,tt {
	font-family:'Courier New',Courier,monospace;
	color:#0000C0;
}

var {
	font-style:normal;
	color:#0000C0;
}

blockquote, cite {
	font-style:italic;
}

.xmpcode {
	border-width:10px;
	border-style:solid;
	border-color:#EEEEEE;
	background-color:#FFFFE0;
}

.code {
	background-color:#FFFFE0;
}

.tabxpl {
	background-color:#E4EEFF;
}

/* grauer balken */

td.doc {
  background-color:#EEEEEE;
}

/* linkleisten */

td.nav {
	background-color:#FFEEDD;
}

.qbar {
	background-color:#FFFFE0;
	font-size:13.4px;
	font-family:Arial,sans-serif;
}

.blue {
	color:#0000C0;
}

.toplinks {
	background-color:#FFEEDD;
	border:1px solid #FFFFFF;
	margin:0px;
	padding:3px;
}

.bottomlinks {
	background-color:#FFEEDD;
	border:1px solid #FFFFFF;
	margin:0px;
	padding:3px;
}

pre.normal {
	color:#000000;
}

a:link {
	color:#AA5522;
	text-decoration:underline;
}

a:visited {
	color:#552200;
	text-decoration:underline;
}

a:active {
	color:#000000;
	text-decoration:none;
}

a.an {
	text-decoration:none;
}

.unicode {
	font-size:15px;
	font-family:Arial Unicode MS,Arial,sans-serif;
}

ins {
	color:#009900;
	font-weight:bold;
	text-decoration:none;
}

del {
	color:#990000;
	font-weight:bold;
	text-decoration:line-through;
}

big {
	font-size:16px;
}

small {
	font-size:10px;
}

.balken {
	font-family:'Courier New',Courier;
	font-size:10pt;
	color:black;
	border-left:thick solid #AA5522;
	padding-left:2mm;
}

span.answers {
  display:none;
}

/* eof */
