<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="de">
  <head>
    <title>SELFHTML Forum: Passwort zugesendet</title>
    <meta http-equiv="content-type" content="text/html; charset={$charset}">
    <meta name="robots" content="noindex,noarchive,nofollow">
    <meta name="author" content="Stefan M&uuml;nz, stefan.muenz@selfhtml.org">
    <meta name="DC.Publisher" content="SELFHTML Forum">
    <meta name="DC.Identifier" content="{$script}">
    <meta name="DC.Language" content="de">
    <meta name="DC.Rights" content="">
    <meta name="SELF.Pagetype" content="page">
    <link rel="stylesheet" title="SELFHTML Forum Stylesheet" type="text/css" href="http://src.selfhtml.org/forum.css">
    <link rel="shortcut icon" title="SELFHTML Icon" type="image/x-icon" href="http://src.selfhtml.org/favicon.ico">
    <link rel="top" title="SELFHTML Forum" href="{$forumbase}">
    <link rel="up" title="Benutzer-Registrierung" href="{$script}">
    <link rel="help" title="Forums-FAQ" href="/faq/">
    <link rel="search" title="SELFHTML Suche" href="http://suche.de.selfhtml.org/">
  </head>
  <body bgcolor="#FFFFFF" text="#000000" link="#AA5522" vlink="#772200" alink="#000000" id="selfforumbody">
    <table cellpadding="4" cellspacing="0" border="0" width="100%" id="selfforumnav">
      <tr>
        <td bgcolor="#FFEEDD" class="nav"><a class="an" name="top"><img src="http://src.selfhtml.org/refkap.gif" width="16" height="13" border="0" alt="Teil von"></a>&nbsp;<a href="{$forumbase}"><b>SELFHTML Forum</b></a>&nbsp;<img src="http://src.selfhtml.org/refkap.gif" width="16" height="13" border="0" alt="Teil von">&nbsp;<a href="{$script}"><b>Benutzer-Registrierung</b></a></td>
      </tr>
    </table>
    <table cellpadding="4" cellspacing="0" border="0" width="100%" id="selfforumheader">
      <tr>
        <td bgcolor="#EEEEEE" class="doc" width="110"><img src="http://src.selfhtml.org/logo.gif" width="106" height="109" border="0" alt="SELFHTML"></td>
        <td bgcolor="#EEEEEE" class="doc" valign="bottom" width="100%"><h1 class="ph1">SELFHTML Forum:<br>Passwort zugesendet</h1></td>
      </tr>
      <tr>
        <td bgcolor="#EEEEEE" class="doc" valign="top" align="center"><img src="http://src.selfhtml.org/dokx.gif" width="30" height="20" vspace="6" border="0" alt="Informationsseite"></td>
        <td bgcolor="#FFFFFF" valign="top">
          <p>
            <img src="http://src.selfhtml.org/down.gif" width="14" height="10" border="0" alt="nach unten">&nbsp;<a href="#bestaetigung"><b>Passwort zugesendet</b></a>
          </p>
        </td>
      </tr>
      <tr>
        <td colspan="2" bgcolor="#EEEEEE" class="doc"><a href="#bottom"><img src="http://src.selfhtml.org/down.gif" width="14" height="10" border="0" alt="nach unten"></a>&nbsp;</td>
      </tr>
    </table>
    <h2 class="sh2"><a class="an" name="bestaetigung">Passwort zugesendet</a></h2>
    <p>Das Passwort wurde zugesendet.</p>
    <table cellpadding="4" cellspacing="0" border="0" width="100%" id="selfforumbottom">
      <tr>
        <td bgcolor="#EEEEEE" class="doc"><a href="#top"><img src="http://src.selfhtml.org/up.gif" width="14" height="10" border="0" alt="nach oben"></a></td>
      </tr>
      <tr>
        <td bgcolor="#FFEEDD" class="nav"><a class="an" name="bottom"><img src="http://src.selfhtml.org/refkap.gif" width="16" height="13" border="0" alt="Teil von"></a>&nbsp;<a href="{$forumbase}"><b>SELFHTML Forum</b></a>&nbsp;<img src="http://src.selfhtml.org/refkap.gif" width="16" height="13" border="0" alt="Teil von">&nbsp;<a href="{$script}"><b>Benutzer-Registrierung</b></a></td>
      </tr>
    </table>
    <p>&copy; 1998-2005 <img src="http://src.selfhtml.org/serverdoc.gif" width="15" height="10" border="0" alt="Seite">&nbsp;<a href="http://www.selfhtml.org/de.impressum.html"><b>Impressum</b></a>, f&uuml;r das <img src="http://src.selfhtml.org/de.gif" width="16" height="10" border="0" alt="deutschsprachige Seite">&nbsp;<a href="http://wwwtech.de/cforum/">Classic Forum</a>: <img src="http://src.selfhtml.org/mail.gif" width="15" height="10" border="0" alt="E-Mail">&nbsp;<a href="mailto:ckruse@wwwtech.de">ckruse@wwwtech.de</a></p>

  </body>
</html>
