Options +FollowSymLinks

DirectoryIndex /cgi-bin/fo_view

RewriteEngine On

RewriteCond %{REQUEST_URI} !^/?forum/my/
RewriteRule ^/?forum/(.+) /cgi-bin/fo_view$1 [L]

RewriteCond %{REQUEST_URI} /?forum/my/
RewriteRule /?forum/my/(.+) /cgi-bin/user/fo_view$1 [L]

