{if $delcheckbox}
      </ol>
      <p>
        <input type="submit" value="Threads l&ouml;schen">
      </p>
    </form>{else}
    </ol>{endif}
    <h2 class="sh2"><a class="an" name="alte_nachrichten">Alte Nachrichten</a></h2>
    <p>Siehe <img src="http://src.selfhtml.org/kap.gif" width="15" height="13" border="0" alt="Kapitel">&nbsp;<a href="/archiv/"{if $frame} target="_top"{endif}><b>Forumsarchiv</b></a>!</p>
    <table cellpadding="4" cellspacing="0" border="0" width="100%" id="selfforumbottom">
      <tr>
        <td bgcolor="#EEEEEE" class="doc"><a href="#top" name="bottom"><img src="http://src.selfhtml.org/up.gif" width="14" height="10" border="0" alt="nach oben"></a></td>
      </tr>
    </table>
    <p>&copy; 1998-2004 <img src="http://src.selfhtml.org/mail.gif" width="15" height="10" border="0" alt="E-Mail">&nbsp;<a href="mailto:stefan.muenz@selfhtml.org">stefan.muenz@selfhtml.org</a>, f&uuml;r das <img src="http://src.selfhtml.org/de.gif" width="16" height="10" border="0" alt="deutschsprachige Seite">&nbsp;<a href="http://wwwtech.de/cforum/">Classic Forum</a>: <img src="http://src.selfhtml.org/mail.gif" width="15" height="10" border="0" alt="E-Mail">&nbsp;<a href="mailto:ckruse@wwwtech.de">ckruse@wwwtech.de</a></p>
  </body>
</html>
