<h2 id="{$mid}">{if $category}<strong>({$category})</strong> {endif}{$subject}</h2>

<p>Die folgende Nachricht zum Thema stammt von: <strong>{$author}</strong>{if $email}, <img src="http://src.selfhtml.org/mail.gif" width="15" height="10" alt="E-Mail" />&nbsp;<a href="mailto:{$email}" rel="author">{$email}</a>{endif}, {$date}{if $link}<br />
<a href="{$link}"{if $frame} target="_top"{endif} rel="made">{$link}</a>{endif}</p>

<p class="nachricht-text">{$message}</p>

{if $image}<p class="nachricht-bild"><img src="{$image}" alt="" /></p>

{endif}
