<?xml version="1.0" encoding="{$charset}" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
<head>
<title> SELFHTML Forumsarchiv</title>
<meta http-equiv="Content-Type" content="text/html; charset={$charset}" />
<meta name="robots" content="index,noarchive,follow" />
<meta name="description" content="SELFHTML Forumsarchiv" />
<meta name="author" content="Stefan M&uuml;nz, stefan.muenz@selfhtml.org" />
<meta name="DC.Publisher" content="SELFHTML Forum" />
<meta name="DC.Identifier" content="{$script}" />
<meta name="DC.Language" content="de" />
<meta name="DC.Rights" content="" />
<meta name="SELF.Pagetype" content="chapter" />
<link rel="top" href="{$forumbase}" title="SELFHTML Forum" />
<link rel="help" href="/faq/" title="Forums-FAQ" />
<link rel="search" href="http://suche.de.selfhtml.org/" title="SELFHTML Suche" />
<link rel="bookmark" href="http://de.selfhtml.org/" title="SELFHTML" />
<link rel="bookmark" href="http://aktuell.de.selfhtml.org/artikel/" title="Feature-Artikel" />
<link rel="bookmark" href="http://aktuell.de.selfhtml.org/tippstricks/" title="Tipps &amp; Tricks" />
<link rel="bookmark" href="http://aktuell.de.selfhtml.org/links/" title="Linkverzeichnis" />
<link rel="shortcut icon" href="http://src.selfhtml.org/favicon.ico" type="image/x-icon" title="SELFHTML Icon" />
{if $owncss}{if $cssoverwrite}<link rel="stylesheet" type="text/css" href="http://src.selfhtml.org/forum_strict.css" title="SELFHTML Forum Stylesheet" />
{endif}<link rel="stylesheet" type="text/css" href="{$owncss}" title="SELFHTML Forum Stylesheet" />
{else}<link rel="stylesheet" type="text/css" href="http://src.selfhtml.org/forum_strict.css" title="SELFHTML Forum Stylesheet" />
{endif}<style type="text/css" title="SELFHTML Forum Stylesheet">
{if $font}body, h1, h2, h3, p, ul, ol, dl, div, th, td, a:link, a:visited, a:active {
{if $fontcolor}color:{$fontcolor};
{endif}{if $fontsize}font-size:{$fontsize};
{endif}{if $fontfamily}font-family:{$fontfamily};
{endif}}
{endif}</style>
</head>
<body id="selfforum-archiv-jahresuebersicht">

<div id="top"><img src="http://src.selfhtml.org/refkap.gif" width="16" height="13" alt="Teil von" />&nbsp;<a href="{$forumbase}">SELFHTML Forum</a></div>

<table id="kopf">
<tr>
<td id="kopf-logo"><img src="http://src.selfhtml.org/logo.gif" width="106" height="109" alt="SELFHTML" /></td>
<td id="kopf-titel"><h1>SELFHTML Forumsarchiv</h1></td>
</tr>
</thead>
<tbody>
<tr>
<td id="kopf-seitentyp">

<img src="http://src.selfhtml.org/kapx.gif" width="30" height="26" alt="Kapitelseite" />

<form action="http://suche.de.selfhtml.org/" method="post">
<p>
<strong><label for="suchausdruck">Suche nach:</label></strong><br />
<input type="text" name="suchausdruck" id="suchausdruck" size="10" maxlength="50" />
<input type="hidden" name="feld" value="alle" />
<input type="hidden" name="hits" value="100" />
<input type="hidden" name="case" value="on" />
<input type="hidden" name="index_5" value="on" />
<input type="hidden" name="index_6" value="on" />
<input type="hidden" name="index_7" value="on" />
<input type="hidden" name="index_8" value="on" />
<input type="hidden" name="index_9" value="on" />
<input type="hidden" name="index_10" value="on" />
<input type="hidden" name="index_11" value="on" />
</p>
</form>

</td>
<td id="kopf-haupt">

<ul>
<li><img src="http://src.selfhtml.org/down.gif" width="14" height="10" alt="nach unten" />&nbsp;<a href="#forumsarchiv">Forumsarchiv</a></li>
</ul>

</td>
</tr>
<tr>
<td id="kopf-down" colspan="2"><a href="#bottom"><img src="http://src.selfhtml.org/down.gif" width="14" height="10" alt="nach unten" /></a></td>
</tr>
</table>
    
<h2 id="forumsarchiv">Forumsarchiv</h2>

<p>{$years}</p>

<div class="updown"><a href="#top"><img src="http://src.selfhtml.org/up.gif" width="14" height="10" alt="nach oben" /></a></div>

<div id="pfadunten"><img src="http://src.selfhtml.org/refkap.gif" width="16" height="13" alt="Teil von" />&nbsp;<a href="{$forumbase}">SELFHTML Forum</a></div>

<p id="bottom">&copy; 1998-2005 <img src="http://src.selfhtml.org/serverdoc.gif" width="15" height="10" alt="Seite" />&nbsp;<a href="http://www.selfhtml.org/de.impressum.html">Impressum</a>, f&uuml;r das <img src="http://src.selfhtml.org/de.gif" width="16" height="10" alt="deutschsprachige Seite" />&nbsp;<a href="http://wwwtech.de/cforum/">Classic Forum</a>: <img src="http://src.selfhtml.org/mail.gif" width="15" height="10" alt="E-Mail" />&nbsp;<a href="mailto:ckruse@wwwtech.de">ckruse@wwwtech.de</a></p>

</body>
</html>