<?xml version="1.0" encoding="{$charset}" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
<head>
<meta http-equiv="Content-Type" content="text/html; charset={$charset}" />
<title>SELFHTML Forum: Passwort &auml;ndern</title>
<meta name="robots" content="noindex,noarchive,nofollow" />
<meta name="author" content="Stefan M&uuml;nz, stefan.muenz@selfhtml.org" />
<meta name="DC.Publisher" content="SELFHTML Forum" />
<meta name="DC.Identifier" content="{$script}" />
<meta name="DC.Language" content="de" />
<meta name="DC.Rights" content="" />
<meta name="SELF.Pagetype" content="page" />
<link rel="top" href="{$forumbase}" title="SELFHTML Forum" />
<link rel="up" href="{$userconfig}" title="Benutzer-Einstellungen" />
<link rel="help" href="/faq/" title="Forums-FAQ" />
<link rel="search" href="http://suche.de.selfhtml.org/" title="SELFHTML Suche" />
<link rel="shortcut icon" type="image/x-icon" href="http://src.selfhtml.org/favicon.ico" title="SELFHTML Icon" />
{if $owncss}{if $cssoverwrite}<link rel="stylesheet" type="text/css" href="http://src.selfhtml.org/forum_strict.css" title="SELFHTML Forum Stylesheet" />
{endif}<link rel="stylesheet" type="text/css" href="{$owncss}" title="SELFHTML Forum Stylesheet" />
{else}<link rel="stylesheet" type="text/css" href="http://src.selfhtml.org/forum_strict.css" title="SELFHTML Forum Stylesheet" />
{endif}</head>
<body id="selfforum-passwortaendern">

<div id="top"><img src="http://src.selfhtml.org/refkap.gif" width="16" height="13" alt="Teil von" />&nbsp;<a href="{$forumbase}">SELFHTML Forum</a> <img src="http://src.selfhtml.org/refkap.gif" width="16" height="13" alt="Teil von" />&nbsp;<a href="{$userconfig}">Benutzer-Einstellungen</a></div>

<table id="kopf">
<tr>
<td id="kopf-logo"><img src="http://src.selfhtml.org/logo.gif" width="106" height="109" alt="SELFHTML" /></td>
<td id="kopf-titel"><h1>SELFHTML Forum:<br />Passwort &auml;ndern</h1></td>
</tr>
<tr>
<td id="kopf-seitentyp"><img src="http://src.selfhtml.org/dokx.gif" width="30" height="20" alt="Informationsseite" /></td>
<td id="kopf-haupt">

<ul>
{if $error}<li><img src="http://src.selfhtml.org/down.gif" width="14" height="10" alt="nach unten" />&nbsp;<a href="#fehler">Fehler</a></li>
{endif}<li><img src="http://src.selfhtml.org/down.gif" width="14" height="10" alt="nach unten" />&nbsp;<a href="#formular">Passwort &auml;ndern</a></li>
</ul>

</td>
</tr>
<tr>
<td id="kopf-down" colspan="2"><a href="#bottom"><img src="http://src.selfhtml.org/down.gif" width="14" height="10" alt="nach unten" /></a></td>
</tr>
</table>


{if $error}<h2 id="fehler">Fehler</h2>

<p>{$error}</p>

<div class="updown"><a href="#top"><img src="http://src.selfhtml.org/up.gif" width="14" height="10" alt="nach oben" /></a><a href="#bottom"><img src="http://src.selfhtml.org/down.gif" width="14" height="10" alt="nach unten" /></a></div>

{endif}<h2 id="formular">Passwort &auml;ndern</h2>

<form method="post" action="{$script}" name="edit" accept-charset="UTF-8">

<table id="passwortaendernformular">
<tr>
<th><label for="password">Neues Passwort eingeben:</label></th>
<td><input type="password" name="password" id="Password" /></td>
</tr>
<tr>
<th><label for="password1">Passwort best&auml;tigen:</label></th>
<td><input type="password" name="password1" id="password1" /></td>
</tr>
<tr>
<td colspan="2"><input type="submit" value="Eintragen" /></td>
</tr>
</table>

</form>

<div class="updown"><a href="#top"><img src="http://src.selfhtml.org/up.gif" width="14" height="10" alt="nach oben" /></a></div>

<div id="pfadunten"><img src="http://src.selfhtml.org/refkap.gif" width="16" height="13" alt="Teil von" />&nbsp;<a href="{$forumbase}">SELFHTML Forum</a> <img src="http://src.selfhtml.org/refkap.gif" width="16" height="13" alt="Teil von" />&nbsp;<a href="{$userconfig}">Benutzer-Einstellungen</a></div>

<p id="bottom">&copy; 1998-2004 <img src="http://src.selfhtml.org/serverdoc.gif" width="15" height="10" alt="Seite" />&nbsp;<a href="http://www.selfhtml.org/de.impressum.html">Impressum</a>, f&uuml;r das <img src="http://src.selfhtml.org/de.gif" width="16" height="10" alt="deutschsprachige Seite" />&nbsp;<a href="http://wwwtech.de/cforum/">Classic Forum</a>: <img src="http://src.selfhtml.org/mail.gif" width="15" height="10" alt="E-Mail" />&nbsp;<a href="mailto:ckruse@wwwtech.de">ckruse@wwwtech.de</a></p>

</body>
</html>
