<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset={$charset}"/>

    <meta http-equiv="expires" content="now">
    <meta http-equiv="cache-control" content="no-cache">
    <meta name="robots" content="noindex,noarchive">

    <title>SELFHTML Forum - Fehler</title>

    <link rel="stylesheet"    type="text/css"     href="http://src.selfhtml.org/forum.css">
    <link rel="shortcut icon" type="image/x-icon" href="http://src.selfhtml.org/favicon.ico">

    <link rel="top"      title="Seitenanfang"     href="#top">
    <link rel="up"       title="SELFHTML live"    href="http://aktuell.de.selfhtml.org/live/">
    <link rel="help"     title="Forums-FAQ"       href="/faq/">
    <link rel="search"   title="Suche"            href="http://suche.de.selfhtml.org/">
    <link rel="bookmark" title="Suche"            href="http://suche.de.selfhtml.org/">
    <link rel="bookmark" title="Forums-Archiv"    href="/archiv/">
    <link rel="bookmark" title="SELFHTML"         href="http://de.selfhtml.org/">

  </head>

  <body bgcolor="#FFFFFF" text="#000000" link="#AA5522" vlink="#772200" alink="#000000">
    <!-- HEADER -->
    <table cellpadding="4" cellspacing="0" border="0" width="100%">
        <tr>
          <td bgcolor="#FFEEDD" class="nav">
            <a class="an" name="top"><img src="http://src.selfhtml.org/x2.gif" width="16" height="13" border="0" alt="Teil von"></a>
            <a href="http://aktuell.de.selfhtml.org/"><b>SELFHTML aktuell</b></a>

            <img src="http://src.selfhtml.org/x2.gif" width="16" height="13" border="0" alt="Teil von">
            <a href="http://aktuell.de.selfhtml.org/live/"><b>SELFHTML live</b></a>

            <img src="http://src.selfhtml.org/x2.gif" width="16" height="13" border="0" alt="Teil von">
            <a href="{$forumbase}"><b>SELFHTML Forum</b></a>
          </td>
        </tr>
    </table>
    <table cellpadding="4" cellspacing="0" border="0" width="100%">
        <tr>
          <td bgcolor="#EEEEEE" class="doc" width="110"><img src="http://src.selfhtml.org/xweb.gif" width="106" height="109" border="0" alt="SELFHTML"></td>
          <td bgcolor="#EEEEEE" class="doc" valign="bottom" width="100%"><h2>SELFHTML Forum:<br>Fehler</h2></td>
        </tr>
        <tr>
          <td bgcolor="#EEEEEE" class="doc" valign="top" align="center">
            <img src="http://src.selfhtml.org/dokx.gif" width="30" height="20" vspace="6" border="0" alt="Informationsseite">
          </td>

          <td bgcolor="#FFFFFF" valign="top">
            <p>
              <img src="http://src.selfhtml.org/down.gif" width="14" height="10" border="0" alt="nach unten">&nbsp;<a href="#fehler"><b>Fehler</b></a><br>
            </p>
          </td>
        <tr>
          <td colspan="2" bgcolor="#EEEEEE" class="doc"><a href="#bottom"><img src="http://src.selfhtml.org/xgdown.gif" width="14" height="10" border="0" alt="nach unten"></a>&#160;</td>
        </tr>
    </table>

    <h2 class="Sh2"><a class="an" name="fehler">Fehler</a></h2>
    <p>
      {$err}
    </p>

    <!-- FOOTER -->
    <table cellpadding="4" cellspacing="0" border="0" width="100%">
        <tr>
          <td bgcolor="#EEEEEE" class="doc"><a href="#top"><img src="http://src.selfhtml.org/xgoup.gif" width="14" height="10" border="0" alt="nach oben"></a></td>
        </tr>
        <tr>
          <td bgcolor="#FFEEDD" class="nav">
            <a class="an" name="bottom"><img src="http://src.selfhtml.org/x2.gif" width="16" height="13" border="0" alt="Teil von"></a>
            <a href="http://aktuell.de.selfhtml.org/"><b>SELFHTML aktuell</b></a>

            <img src="http://src.selfhtml.org/x2.gif" width="16" height="13" border="0" alt="Teil von">
            <a href="http://aktuell.de.selfhtml.org/live/"><b>SELFHTML live</b></a>

            <img src="http://src.selfhtml.org/x2.gif" width="16" height="13" border="0" alt="Teil von">
            <a href="{$forumbase}"><b>SELFHTML Forum</b></a>
          </td>
        </tr>
    </table>
    <p>&copy; 1998-2004 <img src="http://src.selfhtml.org/serverdoc.gif" width="15" height="10" border="0" alt="Seite" />&nbsp;<a href="http://www.selfhtml.org/de.impressum.html">Impressum</a>, f&uuml;r das <img src="http://src.selfhtml.org/de.gif" width="16" height="10" border="0" alt="deutschsprachige Seite" />&nbsp;<a href="http://wwwtech.de/cforum/">Classic Forum</a>: <img src="http://src.selfhtml.org/mail.gif" width="15" height="10" border="0" alt="E-Mail">&nbsp;<a href="mailto:ckruse@wwwtech.de">ckruse@wwwtech.de</a></p>
    <!-- / FOOTER -->

  </body>
</html>
<!-- eof -->
