<?xml version="1.0" encoding="{$charset}" ?>
{if $frame}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{else}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
{endif}<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
<head>
<meta http-equiv="Content-Type" content="text/html; charset={$charset}" />
<title>SELFHTML Forum: {if $category}({$category}) {endif}{$title}</title>
<meta name="robots" content="noindex,nofollow" />
<meta name="author" content="Stefan M&uuml;nz, stefan.muenz@selfhtml.org" />
<meta name="DC.Publisher" content="SELFHTML Forum" />
<meta name="DC.Identifier" content="{$script}" />
<meta name="DC.Language" content="de" />
<meta name="DC.Rights" content="" />
<meta name="SELF.Pagetype" content="page" />
<link rel="top" href="{if $forumreturn}{$forumreturn}{else}{$forumbase}{endif}" title="SELFHTML Forum" />
{if $prev}<link rel="prev" href="{$prev}" title="Vorherige Nachricht" />
{endif}{if $next}<link rel="next" href="{$next}" title="N&auml;chste Nachricht" />
{endif}{if $first}<link rel="first" href="{$first}" title="Erste Nachricht" />
{endif}{if $last}<link rel="last" href="{$last}" title="Letzte Nachricht" />
{endif}<link rel="help" href="/faq/" title="Forums-FAQ" />
<link rel="search" href="http://suche.de.selfhtml.org/" title="SELFHTML Suche" />
<link rel="bookmark" href="http://de.selfhtml.org/" title="SELFHTML" />
<link rel="bookmark" href="/archiv/" title="Forums-Archiv" />
<link rel="bookmark" href="http://suche.de.selfhtml.org/" title="SELFHTML Suche" />
<link rel="bookmark" href="http://aktuell.de.selfhtml.org/artikel/" title="Feature-Artikel" />
<link rel="bookmark" href="http://aktuell.de.selfhtml.org/tippstricks/" title="Tipps &amp; Tricks" />
<link rel="bookmark" href="http://aktuell.de.selfhtml.org/links/" title="Linkverzeichnis" />
<link rel="shortcut icon" href="http://src.selfhtml.org/favicon.ico" type="image/x-icon" title="SELFHTML Icon" />
{if $owncss}{if $cssoverwrite}<link rel="stylesheet" type="text/css" href="http://src.selfhtml.org/forum_strict.css" title="SELFHTML Forum Stylesheet" />
{endif}<link rel="stylesheet" type="text/css" href="{$owncss}" title="SELFHTML Forum Stylesheet" />
{else}<link rel="stylesheet" type="text/css" href="http://src.selfhtml.org/forum_strict.css" title="SELFHTML Forum Stylesheet" />
{endif}<style type="text/css" title="SELFHTML Forum Stylesheet">
{if $font}body, h1, h2, h3, p, ul, ol, dl, div, th, td, a:link, a:visited, a:active, #antwortformular textarea {
{if $fontcolor}color:{$fontcolor};
{endif}{if $fontsize}font-size:{$fontsize};
{endif}{if $fontfamily}font-family:{$fontfamily};
{endif}}
{endif}{if $colorown}.own {
{if $colorownfg}color:{$colorownfg};
{endif}{if $colorownbg}background-color:{$colorownbg};
{endif}}
{endif}{if $vipcol}.vip {
{if $vipcolfg}color:{$vipcolfg};
{endif}{if $vipcolbg}background-color:{$vipcolbg};
{endif}}
{endif}{if $wlcol}.whitelist {
{if $wlcolfg}color:{$wlcolfg};
{endif}{if $wlcolbg}background-color:{$wlcolbg};
{endif}}
{endif}{if $cathighcolor}.cathigh {
{if $cathighcolorfg}color:{$cathighcolorfg};
{endif}{if $cathighcolorbg}background-color:{$cathighcolorbg};
{endif}}
{endif}{if $visitedcol}a.visited {
{if $visitedcolfg}color:{$visitedcolfg};
{endif}{if $visitedcolbg}background-color:{$visitedcolbg};
{endif}}
{endif}.q, .q a {{if $qcolor}
color:{$qcolor};{endif}{if $qcolorback}
background-color:{$qcolorback};
{endif}}
.active {
{if $activecolorf}color:{$activecolorf};
{endif}{if $activecolorb}background-color:{$activecolorb};
{endif}font-weight:bold;
}
</style>
{if $ownjs}<script type="text/javascript" src="{$ownjs}"></script>
{endif}</head>
<body id="selfforum-nachricht">

<div id="top"><img src="http://src.selfhtml.org/refkap.gif" width="16" height="13" alt="Teil von" />&nbsp;<a href="{if $forumreturn}{$forumreturn}{else}{$forumbase}{endif}"{if $frame} target="_top"{endif}>SELFHTML Forum</a></div>

<table id="kopf">
<tr>
<td id="kopf-logo"><img src="http://src.selfhtml.org/logo.gif" width="106" height="109" alt="SELFHTML" /></td>
<td id="kopf-titel"><h1>{$name}:<br />{if $category}({$category}) {endif}{$title}</h1></td>
</tr>
<tr>
<td id="kopf-seitentyp"><img src="http://src.selfhtml.org/dokx.gif" width="30" height="20" alt="Informationsseite" /></td>
<td id="kopf-haupt">

<ul>
<li id="nachrichtlesen-link"><img src="http://src.selfhtml.org/down.gif" width="14" height="10" alt="nach unten" />&nbsp;<a href="#nachricht-lesen">Nachricht lesen</a></li>
<li id="nachrichtantworten-link"><img src="http://src.selfhtml.org/down.gif" width="14" height="10" alt="nach unten" />&nbsp;<a href="#nachricht-antworten">Nachricht beantworten</a></li>
</ul>

</td>
</tr>
<tr>
<td id="kopf-down" colspan="2"><a href="#bottom"><img src="http://src.selfhtml.org/down.gif" width="14" height="10" alt="nach unten" /></a></td>
</tr>
</table>

<h2 id="nachricht-lesen">Nachricht lesen</h2>

{if $messagebefore}<p id="nachricht-bezug">Urspr&uuml;ngliche Nachricht zum Thema: <img src="http://src.selfhtml.org/dok.gif" width="15" height="10" alt="Seite" />&nbsp;{if $b_category}<strong>({$b_category})</strong> {endif}<a href="{$b_link}">{$b_title}</a> von <strong>{$b_name}</strong>, {$b_time}</p>

{endif}<p id="nachricht-autor">Die folgende Nachricht zum Thema stammt von: <strong>{$name}</strong>{if $email}, <img src="http://src.selfhtml.org/mail.gif" width="15" height="10" alt="E-Mail" />&nbsp;<a href="mailto:{$email}" rel="author">{$email}</a>{endif}, {$time}{if $link}<br /><a href="{$link}"{if $frame} target="_top"{endif} rel="made">{$link}</a>{endif}</p>

<p id="nachricht-text">{$message}</p>

{if $image}<p id="nachricht-bild"><img src="{$image}" alt="" /></p>

{endif}<div class="updown"><a href="#top"><img src="http://src.selfhtml.org/up.gif" width="14" height="10" alt="nach oben" /></a> <a href="#bottom"><img src="http://src.selfhtml.org/down.gif" width="14" height="10" alt="nach unten" /></a></div>

<h2 id="nachricht-antworten">Nachricht beantworten</h2>{if $threadlist}

<ol id="root">{$threadlist}</ol>{endif}

<h3>Eigene Antwort schreiben</h3>

<form method="post" action="{$action}" accept-charset="{$charset},UTF-8">

<table id="antwortformular">
<tr>
<th><label for="formular-name">Name:</label></th>
<td>
<input type="hidden" name="fupto" value="{$fupto}" />
<input type="hidden" name="unid" value="{$unid}" />
<input type="hidden" name="qchar" value="{$qchar}" />
<input type="text" name="Name" id="formular-name" value="{$aname}" size="40" maxlength="60" class="eingabefeld" />
</td>
</tr>
<tr>
<th><label for="formular-email">E-Mail:</label></th>
<td><input type="text" name="EMail" id="formular-email" value="{$aemail}" size="40" maxlength="60" class="eingabefeld" /></td>
</tr>
<tr>
<td colspan="2"><label for="formular-nachricht">Nachrichtentext:</label><br/>
<textarea cols="{if $twidth}{$twidth}{else}76{endif}" rows="{if $theight}{$theight}{else}25{endif}" name="body" id="formular-nachricht">{$cite}</textarea>
</td>
</tr>
<tr>
<th><label for="formular-homepage">URL (optional):</label></th>
<td><input type="text" name="HomepageUrl" id="formular-homepage" value="{if $aurl}{$aurl}{else}http://{endif}" size="40" class="eingabefeld" /></td>
</tr>
<tr>
<th><label for="formular-grafik">Grafik-URL (optional):</label></th>
<td><input type="text" name="ImageUrl" id="formular-grafik" value="{if $aimg}{$aimg}{else}http://{endif}" size="40" class="eingabefeld" /></td>
</tr>
{if $previewswitchtype == "checkbox"}<tr>
<th><label for="formular-vorschau">Vorschau generieren</label></th>
<td><input type="checkbox" name="preview" id="formular-vorschau" value="1"{if $preview} checked="checked"{endif}/></td>
</tr>
<tr>
<th><label for="formular-rechtschreibung">Rechtschreibung &uuml;berpr&uuml;fen</label></th>
<td><input type="checkbox" name="spellcheck" id="formular-rechtschreibung" value="1" /></td>
</tr>
{endif}<tr>
<td colspan="2">
<input type="submit" id="formular-absenden" value="Nachricht absenden" />
{if $previewswitchtype == "button"}<input type="submit" name="preview" id="formular-vorschau" value="Vorschau generieren" />
<input type="submit" name="spellcheck" id="formular-rechtschreibung" value="Rechtschreibung &uuml;berpr&uuml;fen" />
{endif}</td>
</tr>
</table>

</form>

<p id="doppelpostinghinweis">Bitte nur <strong>einmal</strong> auf <em>Nachricht absenden</em> klicken, dann abwarten!</p>

<div class="updown"><a href="#top"><img src="http://src.selfhtml.org/up.gif" width="14" height="10" alt="nach oben" /></a></div>

<div id="pfadunten"><img src="http://src.selfhtml.org/refkap.gif" width="16" height="13" alt="Teil von" />&nbsp;<a href="{if $forumreturn}{$forumreturn}{else}{$forumbase}{endif}"{if $frame} target="_top"{endif}>SELFHTML Forum</a></div>

<p id="bottom">&copy; 1998-2004 <img src="http://src.selfhtml.org/serverdoc.gif" width="15" height="10" alt="Seite" />&nbsp;<a href="http://www.selfhtml.org/de.impressum.html">Impressum</a>, f&uuml;r das <img src="http://src.selfhtml.org/de.gif" width="16" height="10" alt="deutschsprachige Seite" />&nbsp;<a href="http://wwwtech.de/cforum/">Classic Forum</a>: <img src="http://src.selfhtml.org/mail.gif" width="15" height="10" alt="E-Mail" />&nbsp;<a href="mailto:ckruse@wwwtech.de">ckruse@wwwtech.de</a></p>

</body>
</html>