{if $delcheckbox}
      </ol>
      <p>
        <input type="submit" value="Threads l&ouml;schen" />
      </p>
    </form>{else}
    </ol>
{endif}
    <h2 class="sh2"><a class="an" name="alte_nachrichten">Alte Nachrichten</a></h2>
    <p>Siehe <img src="http://src.selfhtml.org/kap.gif" width="15" height="13" alt="Kapitel" />&nbsp;<a href="/archiv/"{if $frame} onclick="window.open(this,'_top'); return false;"{endif}>Forumsarchiv</a>!</p>
    <div class="updown" id="selfforumbottom"><a href="#top" name="bottom"><img src="http://src.selfhtml.org/up.gif" width="14" height="10" alt="nach oben" /></a></div>
    <p>&copy; 1998-2004 <img src="http://src.selfhtml.org/serverdoc.gif" width="15" height="10" border="0" alt="Seite" />&nbsp;<a href="http://www.selfhtml.org/de.impressum.html">Impressum</a>, f&uuml;r das <img src="http://src.selfhtml.org/de.gif" width="16" height="10" border="0" alt="deutschsprachige Seite" />&nbsp;<a href="http://wwwtech.de/cforum/">Classic Forum</a>: <img src="http://src.selfhtml.org/mail.gif" width="15" height="10" border="0" alt="E-Mail">&nbsp;<a href="mailto:ckruse@wwwtech.de">ckruse@wwwtech.de</a></p>
  </body>
</html>
