<h2 class="sh2"><a class="an" name="{$mid}">{if $category}<b>({$category})</b> {endif}{$subject}</a></h2>
<p>Le message suivant est de: <b>{$author}</b>{if $email}, <img src="http://src.selfhtml.org/mail.gif" width="15" height="10" border="0" alt="Adresse &eacute;lectronique">&nbsp;<a href="mailto:{$email}"><b>{$email}</b></a>{endif}, {$date}{if $link}<br>
<a href="{$link}"><b>{$link}</b></a>{endif}</p>
<p><tt>{$message}</tt></p><br>&nbsp;{if $image}
<p><img src="{$image}" alt=""></p>{endif}
