    </ol>
    <table cellpadding="4" cellspacing="0" border="0" width="100%" id="selfforumbottom">
      <tr>
        <td bgcolor="#EEEEEE" class="doc"><a href="#top" name="bottom"><img src="http://src.selfhtml.org/up.gif" width="14" height="10" border="0" alt="vers le haut"></a></td>
      </tr>
    </table>
    <p>&copy; 1998-2004 <img src="http://src.selfhtml.org/mail.gif" width="15" height="10" border="0" alt="Adresse &eacute;lectronique">&nbsp;<a href="mailto:selfhtml@fr.selfhtml.org">selfhtml@fr.selfhtml.org</a></p>
  </body>
</html>
