<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="fr">
  <head>
    <title>Forum SELFHTML: R&eacute;glages personnels</title>
    <meta http-equiv="content-type" content="text/html; charset={$charset}">
    <meta http-equiv="expires" content="now">
    <meta http-equiv="cache-control" content="no-cache">
    <meta name="robots" content="noindex,noarchive,nofollow">
    <meta name="author" content="Stefan M&uuml;nz, stefan.muenz@selfhtml.org">
    <meta name="DC.Publisher" content="Forum SELFHTML">
    <meta name="DC.Identifier" content="{$script}">
    <meta name="DC.Language" content="fr">
    <meta name="DC.Rights" content="">
    <meta name="SELF.Pagetype" content="page">{if $owncss}{if $cssoverwrite}
    <link rel="stylesheet" title="Feuille de style du forum SELFHTML" type="text/css" href="http://src.selfhtml.org/forum.css">{endif}
    <link rel="stylesheet" title="Feuille de style personnalis&eacute;e" type="text/css" href="{$owncss}">{else}
    <link rel="stylesheet" title="Feuille de style du forum SELFHTML" type="text/css" href="http://src.selfhtml.org/forum.css">{endif}
    <link rel="top" title="Forum SELFHTML" href="{$forumbase}">
    <link rel="help" title="FAQ du Forum" href="/faq/">
    <link rel="search" title="Recherche" href="http://recherche.fr.selfhtml.org/">
  </head>
  <body bgcolor="#FFFFFF" text="#000000" link="#AA5522" vlink="#772200" alink="#000000" id="selfforumbody">
    <table cellpadding="4" cellspacing="0" border="0" width="100%" id="selfforumnav">
      <tr>
        <td bgcolor="#FFEEDD" class="nav"><a class="an" name="top"><img src="http://src.selfhtml.org/refkap.gif" width="16" height="13" border="0" alt="Chapitre: vue d'ensemble"></a>&nbsp;<a href="{$forumbase}"><b>Forum SELFHTML</b></a></td>
      </tr>
    </table>
    <table cellpadding="4" cellspacing="0" border="0" width="100%" id="selfforumheader">
      <tr>
        <td bgcolor="#EEEEEE" class="doc" width="110"><img src="http://src.selfhtml.org/logo.gif" width="106" height="109" border="0" alt="SELFHTML"></td>
        <td bgcolor="#EEEEEE" class="doc" valign="bottom" width="100%"><h1 class="ph1">Forum SELFHTML:<br>
        R&eacute;glages personnels</h1></td>
      </tr>
      <tr>
        <td bgcolor="#EEEEEE" class="doc" valign="top" align="center"><img src="http://src.selfhtml.org/kapx.gif" width="30" height="26" vspace="6" border="0" alt="Section: vue d'ensemble"></td>
        <td bgcolor="#FFFFFF" valign="top" nowrap>
          <p>
            <img src="http://src.selfhtml.org/down.gif" width="14" height="10" border="0" alt="vers le bas">&nbsp;<a href="#apparence"><b>Apparence du forum</b></a><br>
            <img src="http://src.selfhtml.org/down.gif" width="14" height="10" border="0" alt="vers le bas">&nbsp;<a href="#filtres"><b>Filtres</b></a><br>
            <img src="http://src.selfhtml.org/down.gif" width="14" height="10" border="0" alt="vers le bas">&nbsp;<a href="#formulaire"><b>Formulaire</b></a>
          </p>
          <p>
            <img src="http://src.selfhtml.org/dok.gif" width="14" height="10" border="0" alt="Autre page d'information">&nbsp;<a href="{$script}?a=edit"><b>Effectuer les r&eacute;glages</b></a><br>
            <img src="http://src.selfhtml.org/dok.gif" width="14" height="10" border="0" alt="Autre page d'information">&nbsp;<a href="{$script}?a=changepw"><b>Changer le mot de passe</b></a><br>
            <img src="http://src.selfhtml.org/dok.gif" width="14" height="10" border="0" alt="Autre page d'information">&nbsp;<a href="{$script}?a=unreg"><b>Annuler votre inscription</b></a>
          </p>
        </td>
      </tr>
      <tr>
        <td colspan="2" bgcolor="#EEEEEE" class="doc"><a href="#bottom"><img src="http://src.selfhtml.org/down.gif" width="14" height="10" border="0" alt="vers le bas"></a>&nbsp;</td>
      </tr>
    </table>
    <h2 class="sh2"><a class="an" name="apparence">Apparence du forum</a></h2>
    <ul>
      <li>{if $showforumframeset == "yes"}Le forum est charg&eacute; dans un <b>jeu de cadres (<i>Frameset</i>)</b>{else}Le forum <b>n'est pas charg&eacute;</b> dans un jeu de cadres (<i>Frameset</i>){endif}</li>
      <li>Les discussions (<i>Threads</i>) sont <b>{if $threadsopen == "yes"}ouvertes</b> (toutes les r&eacute;ponses visibles).{else}ferm&eacute;es</b> (intitul&eacute; uniquement visible).{endif}</li>
      <li>Le champ de saisie pour votre message de r&eacute;ponse {if $doquote == "yes"}<b>cite</b>{else}<b>ne cite pas</b>{endif} le texte du message auquel vous r&eacute;pondez.{if $doquote == "yes"} Le texte cit&eacute; est pr&eacute;c&eacute;d&eacute; de &quot;{$qchars}&quot;.{endif}</li>{if $quoteforecol}
      <li>{if $quoteforecol}La couleur choisie pour les passages de texte cit&eacute;s est: <span style="color:{$quoteforecol};background-color:{if $quotebackcol}{$quotebackcol}{else}inherit{endif};">{$quoteforecol}</span>.{endif}{if $quotebackcol} La couleur de fond choisie pour les passages de texte cit&eacute;s est: <span style="background-color:{$quotebackcol};color:{if $quoteforecol}{$quoteforecol}{else}inherit{endif};">{$quotebackcol}</span>.{endif}</li>{endif}
      <li>L'arborescence de la discussion {if $showthread == "partitial"}n'appara&icirc;t <b>qu'&agrave; partir du message ouvert</b>.{endif}{if $showthread == "full"}appara&icirc;t <b>enti&egrave;rement</b>.{endif}{if $showthread == "none"}<b>n'appara&icirc;t pas</b>.{endif}</li>
      <li>Vos propres messages {if $highlightownpost == "yes"}se distinguent des autres messages <b>par une autre couleur</b>{else}<b>ne se distinguent pas</b> des autres messages{endif}.{if $highlightownpost == "yes"}<br>{if $ownforepostcol}La couleur choisie pour vos propres messages est: <span style="color:{$ownforepostcol};">{$ownforepostcol}</span>.{endif}{if $ownbackpostcol} La couleur de fond choisie pour vos propres messages est: <span style="color:{$ownbackpostcol};">{$ownbackpostcol}</span>{endif}{endif}</li>
      <li>Les messages {if $highlightvisi == "yes"} lus se distinguent des messages non-lus <b>par une autre couleur</b>{else}<b>ne se distinguent pas</b> des messages non-lus{endif}.{if $highlightvisi == "yes"}<br>{if $highlightvisiforecol}La couleur choisie pour les messages lus est: <span style="color:{$highlightvisiforecol};">{$highlightvisiforecol}</span>.{endif}{if $highlightvisibackcol} La couleur de fonds choisie pour les messages lus est: <span style="color:{$highlightvisibackcol};">{$highlightvisibackcol}</span>{endif}{endif}</li>{if $fontcol}
      <li>La couleur de police d'&eacute;criture pour le texte est: {$fontcol}</li>{endif}{if $fontsize}
      <li>La taille est de: {$fontsize}</li>{endif}{if $fontfamily}
      <li>La police d'&eacute;criture choisie est: {$fontfamily}</li>{endif}{if $autoreload}
      <li>Le forum est actualis&eacute; automatiquement toutes les <b>{$autoreload}</b> minutes.</li>{endif}{if $BaseTarget}
      <li>La cible (<i>target</i>) de liens &eacute;nonc&eacute;s dans les messages est: {$BaseTarget}.</li>{endif}{if $SendMailOnAnswer}
      <li>Vous recevrez un courrier &eacute;lectronique &agrave; chaque r&eacute;ponse &agrave; l'un de vos messages.</li>{endif}
    </ul><br>
    <table bgcolor="#EEEEEE" class="doc" width="100%">
      <tr>
        <td><a href="#top"><img src="http://src.selfhtml.org/up.gif" width="14" height="10" border="0" alt="vers le haut"></a><a href="#bottom"><img src="http://src.selfhtml.org/down.gif" width="14" height="10" border="0" alt="vers le bas"></a>&nbsp;</td>
      </tr>
    </table>
    <h2 class="sh2"><a class="an" name="filtres">Filtres</a></h2>
    <ul>
      <li>&quot;Liste noire&quot;: {if $blacklist}&quot;<b>{$blacklist}</b>&quot;{else}<b>vide</b>{endif}</li>
      <li>&quot;Liste des intervenants favoris&quot;: {if $whitelst}&quot;<b>{$whitelst}</b>&quot;{else}<b>vide</b>{endif}</li>{if $showfrom}
      <li>Les messages apparaissent &agrave; partir du <b>{$showfrom}</b>.</li>{endif}{if $showuntil}
      <li>Les messages apparaissent jusqu'au <b>{$showuntil}</b>.</li>{endif}
      <li>{if $showcat}Seules les cat&eacute;gories &quot;<b>{$showcat}</b>&quot; apparaissent.{else}<b>Toutes</b> les cat&eacute;gories apparaissent.{endif}</li>{if $showcat}
      <li>{if $highlightcats}Les cat&eacute;gories &quot;<b>{$highlightcats}</b>&quot; se distinguent par une autre couleur.{if $highlightcatforecol} Les couleurs choisies sont: {if $highlightcatforecol}<span style="color:{$highlightcatforecol}">{$highlightcatforecol}</span> (texte){if $highlightcatbackcol}, {endif}{endif}{if $highlightcatbackcol}<span style="color:{$highlightcatbackcol}">{$highlightcatbackcol}</span> (fond).{endif}{endif}{else}Aucune cat&eacute;gorie n'est choisie.{endif}</li>{endif}
    </ul><br>
    <table bgcolor="#EEEEEE" class="doc" width="100%">
      <tr>
        <td><a href="#top"><img src="http://src.selfhtml.org/up.gif" width="14" height="10" border="0" alt="vers le haut"></a><a href="#bottom"><img src="http://src.selfhtml.org/down.gif" width="14" height="10" border="0" alt="vers le bas"></a>&nbsp;</td>
      </tr>
    </table>
    <h2 class="sh2"><a class="an" name="formulaire">Formulaire</a></h2>
    <ul>
      <li>Votre formule de salutation {if $hi}est: <b>{$hi}</b>{else} <b>n'est pas activ&eacute;e</b>{endif}</li>
      <li>Votre formule de politesse {if $bye}est: <b>{$bye}</b>{else} <b>n'est pas activ&eacute;e</b>{endif}</li>
      <li>Votre signature {if $sig}est: <b>{$sig}</b>{else} <b>n'est pas activ&eacute;e</b>{endif}</li>
      <li>Votre nom ou pseudonyme est: <b>{$name}</b></li>
      <li>{if $email}Votre adresse &eacute;lectronique est: <b>{$email}</b>{else}<b>Vous n'indiquez pas</b> d'adresse &eacute;lectronique</b>{endif}.</li>
      <li>{if $hp}L'adresse (URL) de votre site personnel est: <b>{$hp}</b>{else}<b>Vous n'indiquez pas</b> d'adresse de site personnel</b>{endif}.</li>
      <li>{if $image}L'adresse (URL) de votre graphique est: <b>{$image}</b>{else}<b>Vous n'indiquez pas</b> d'adresse de graphique.</b>{endif}.</li>
    </ul><br>
    <table cellpadding="4" cellspacing="0" border="0" width="100%" id="selfforumbottom">
      <tr>
        <td bgcolor="#EEEEEE" class="doc"><a href="#top"><img src="http://src.selfhtml.org/up.gif" width="14" height="10" border="0" alt="vers le haut"></a></td>
      </tr>
      <tr>
        <td bgcolor="#FFEEDD" class="nav"><a class="an" name="bottom"><img src="http://src.selfhtml.org/refkap.gif" width="16" height="13" border="0" alt="Chapitre: vue d'ensemble"></a>&nbsp;<a href="{$forumbase}"><b>Forum SELFHTML</b></a></td>
      </tr>
    </table>
    <p>&copy; 1998-2004 <img src="http://src.selfhtml.org/mail.gif" width="15" height="10" border="0" alt="Adresse &eacute;lectronique">&nbsp;<a href="mailto:selfhtml@fr.selfhtml.org">selfhtml@fr.selfhtml.org</a></p>
  </body>
</html>
